---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="About" description="About Wells Tu.">
  <header class="page-head">
    <h1 class="page-title">About</h1>
  </header>

  <section class="about-grid">
    <div class="prose">
      <p>
        主业做医疗投资，偶尔写写有的没的，理想是讲脱口秀
      </p>
      <p>
        biotech investor, enjoy writing from time to time
      </p>
    </div>
    <img class="about-image" src="/images/about-photo.jpg" alt="Portrait in a dark room" />
  </section>
</SiteLayout>
